.sectionAbout {
  max-width: 1080px;
  margin: 64px auto;

  h2 {
    font-size: 36px;
    color: #EDDBC0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 0;
  }

  p {
    font-size: 18px;
    text-align: justify;
  }
}